<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="/static/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=The+Nautigal:wght@700&display=swap" rel="stylesheet">
</head>
<div id="navigation">
    <div id='title'>
        <h1><b>Photo App</b></h1>
    </div>
    <div id='username_signout'>
        {% if user %}
        <div id='username'>
            <b>{{ user.username  }}</b>
        </div>
        <div id='signout'>
            <b><a href="/api">API Docs</a></b>
            <b><a href="/logout">Sign Out</a></b>
        </div>
        {% endif %}
    </div>
</div>