<!-- <nav class="main-nav">
    <h1>Photo App</h1>
    <ul>
        <li>
            {% if request.url_rule.endpoint == 'api_docs' %}
                <a href="/">Home</a>
            {% else %}
                <a href="/api">API Docs</a>
            {% endif %}
        </li>
        <li><span>{{ user.username }}</span></li>
        <li><a href="#">Sign out</a></li>
    </ul>
</nav> -->
<div id="navigation">
    <div id='title'>
        <h1><b>Photo App</b></h1>
    </div>
    <div id='username_signout'>
        <div id='username'>
            <b>{{ user.username  }}</b>
        </div>
        <div id='signout'>
            <b><a href="#/logout">Sign Out</a></b>
        </div>
    </div>
</div>